<div class="col-sm-2"></div>

<form class="frmStandard" id="mainform" name="mainform" method="POST" action="lib/save.php">

    <!-- meta info -->
    <input type="hidden" id="formname" name="formname" value="btw_land">
    <input type="hidden" id="table" name="table" value="eu_btw_codes">
    <input type="hidden" id="pkey" name="pkey" value="eub_id">
    <input type="hidden" id="afterinsert" name="afterinsert" value="btw.php">
    <input type="hidden" id="afterupdate" name="afterupdate" value="btw.php">
    <input type="hidden" id="aftercancel" name="aftercancel" value="btw.php">
    <!-- end meta info -->

    <!--security-->
    <input type="hidden" name="csrf" value="@csrf_token@">
    <input type="hidden" id="eub_id" name="eub_id" value="@eub_id@">
    <!--end security-->

    <div class="form-group row">
        <label for="eub_land" class="col-sm-4 col-form-label">Land</label>
        <div class="col-sm-6">
            <input type="text" class="form-control-plaintext" id="eub_land" name="eub_land" value="@eub_land@">
            @eub_land_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="eub_code" class="col-sm-4 col-form-label">Code</label>
        <div class="col-sm-6">
            <input type="text" class="form-control-plaintext" id="eub_code" name="eub_code" value="@eub_code@">
            @eub_code_error@
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label"></label>
        <div class="col-sm-6">
            <input class="btn btn-success" name="btnOpslaan" type="submit" value="Opslaan">
            <input class="btn btn-danger" name="btnAnnuleren" type="submit" value="Annuleren">
        </div>
    </div>

</form>

