<div class="col-sm-2"></div>

<form class="frmRegister" id="mainform" name="mainform" method="POST" action="lib/save.php">

    <!-- meta info -->
    <input type="hidden" id="formname" name="formname" value="register">
    <input type="hidden" id="table" name="table" value="user">
    <input type="hidden" id="pkey" name="pkey" value="usr_id">
    <input type="hidden" id="afterinsert" name="afterinsert" value="steden.php">
    <input type="hidden" id="afterupdate" name="afterupdate" value="">
    <!-- end meta info -->

    <!--security-->
    <input type="hidden" name="csrf" value="@csrf_token@">
    <!--end security-->

    <div class="form-group row">
        <label for="usr_voornaam" class="col-sm-4 col-form-label">Voornaam</label>
        <div class="col-sm-6">
            <input type="text" class="form-control-plaintext" id="usr_voornaam" name="usr_voornaam" value="@usr_voornaam@">
            @usr_voornaam_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="usr_naam" class="col-sm-4 col-form-label">Naam</label>
        <div class="col-sm-6">
            <input type="text" class="form-control-plaintext" id="usr_naam" name="usr_naam" value="@usr_naam@">
            @usr_naam_error@
        </div>
    </div>
    <div class="form-group row">
        <label for="usr_email" class="col-sm-4 col-form-label">E-mail</label>
        <div class="col-sm-6">
            <input type="text" class="form-control-plaintext" id="usr_email" name="usr_email" value="@usr_email@">
            @usr_email_error@
        </div>
    </div>
    <div class="form-group row">
        <label for="usr_password" class="col-sm-4 col-form-label">Wachtwoord</label>
        <div class="col-sm-6">
            <input type="password" class="form-control-plaintext" id="usr_password" name="usr_password" value="@usr_password@">
            @usr_password_error@
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label"></label>
        <div class="col-sm-6">
            <input class="btn btn-success" name="btnOpslaan" type="submit" value="Save">
        </div>
    </div>

</form>

