<div class="col-sm-2"></div>

<form class="frmStandard" id="mainform" name="mainform" method="POST" action="lib/save.php">

    <!-- meta info -->
    <input type="hidden" id="table" name="table" value="images">
    <input type="hidden" id="pkey" name="pkey" value="img_id">
    <input type="hidden" id="afterinsert" name="afterinsert" value="steden.php">
    <input type="hidden" id="afterupdate" name="afterupdate" value="steden.php">
    <!-- end meta info -->

    <!--security-->
    <input type="hidden" name="csrf" value="@csrf_token@">
    <!--end security-->

    <div class="form-group row">
        <label for="img_id" class="col-sm-4 col-form-label">Id</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" id="img_id" name="img_id" value="@img_id@">
            @img_id_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="img_title" class="col-sm-4 col-form-label">Title</label>
        <div class="col-sm-6">
            <input type="text" class="form-control-plaintext" id="img_title" name="img_title" value="@img_title@">
            @img_title_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="img_filename" class="col-sm-4 col-form-label">Filename</label>
        <div class="col-sm-6">
            <input type="text" class="form-control-plaintext" id="img_filename" name="img_filename" value="@img_filename@">
            @img_filename_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="img_width" class="col-sm-4 col-form-label">Width</label>
        <div class="col-sm-6">
            <input type="text" class="form-control-plaintext" id="img_width" name="img_width" value="@img_width@">
            @img_width_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="img_height" class="col-sm-4 col-form-label">Height</label>
        <div class="col-sm-6">
            <input type="number" class="form-control-plaintext" id="img_height" name="img_height" value="@img_height@">
            @img_height_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="img_lan_id" class="col-sm-4 col-form-label">Land</label>
        <div class="col-sm-6">
            @select_land@
            @img_lan_id_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="img_date" class="col-sm-4 col-form-label">Datum</label>
        <div class="col-sm-6">
            <input type="text" class="form-control-plaintext" id="img_date" name="img_date" value="@img_date@">
            @img_date_error@
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label"></label>
        <div class="col-sm-6">
            <input class="btn btn-success" name="btnOpslaan" type="submit" value="Opslaan">
            <input class="btn btn-danger" name="btnAnnuleren" type="submit" value="Annuleren">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label"></label>
        <div class="col-sm-6">
            <img alt=@img_title@ class="img-fluid" style="width: 75%;" src="img/@img_filename@">
        </div>
    </div>

</form>

